/**
 * @name PhantomCord
 * @author PhantomX
 * @version 1.0.0
 * @description A nice midnight styled theme
 * @source https://github.com/NotPhantomX/Better-Discord/tree/main/PhantomCord
 * @website 
 * @patreon 
 * @authorLink https://discordhub.com/profile/368438738138693642
 * @donate 
 * @authorId 368438738138693642
 * @invite
*/

/* Source Code */
@import url('https://notphantomx.github.io/Better-Discord/PhantomCord/Source/base.css');
:root {
    /* Colors */
    --header-primary-color: #fff;
    --header-secondary-color: #b9bbbe;
    --text-normal-color: #dcddde;
    --text-muted-color: #72767d;
    --text-link-color: #00b0f4;
    --channels-defualt-color: #8e9297;
    --interactive-normal-color: #b9bbbe;
    --interactive-hover-color: #dcddde;
    --interactive-active-color: #fff;
    --interactive-muted-color: #4f545c;
    --background-primary-color: #36393f;
    --background-secondary-color: #2f3136;
}